@model ProyectAudi.ViewModels.Roles.DeleteViewModel

@{
    ViewData["Title"] = "Eliminar Rol";
}

<h2>¿Estás seguro que deseas eliminar este rol?</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.ROL_NOMBRE</dd>

        <dt class="col-sm-3">Descripción</dt>
        <dd class="col-sm-9">@Model.ROL_DESCRIPCION</dd>

        <dt class="col-sm-3">Creado por</dt>
        <dd class="col-sm-9">@Model.CREADO_POR</dd>

        <dt class="col-sm-3">Fecha creación</dt>
        <dd class="col-sm-9">@Model.FECHA_CREACION.ToShortDateString()</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="ROL_ID" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
