@model ProyectAudi.Models.USUARIO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>USUARIO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CUI" class="control-label"></label>
                <input asp-for="CUI" class="form-control" />
                <span asp-validation-for="CUI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRIMERNOMBRE" class="control-label"></label>
                <input asp-for="PRIMERNOMBRE" class="form-control" />
                <span asp-validation-for="PRIMERNOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SEGUNDONOMBRE" class="control-label"></label>
                <input asp-for="SEGUNDONOMBRE" class="form-control" />
                <span asp-validation-for="SEGUNDONOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TERCERNOMBRE" class="control-label"></label>
                <input asp-for="TERCERNOMBRE" class="form-control" />
                <span asp-validation-for="TERCERNOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRIMERAPELLIDO" class="control-label"></label>
                <input asp-for="PRIMERAPELLIDO" class="form-control" />
                <span asp-validation-for="PRIMERAPELLIDO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SEGUNDOAPELLIDO" class="control-label"></label>
                <input asp-for="SEGUNDOAPELLIDO" class="form-control" />
                <span asp-validation-for="SEGUNDOAPELLIDO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APELLIDOCASADA" class="control-label"></label>
                <input asp-for="APELLIDOCASADA" class="form-control" />
                <span asp-validation-for="APELLIDOCASADA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHA_NACIMIENTO" class="control-label"></label>
                <input asp-for="FECHA_NACIMIENTO" class="form-control" />
                <span asp-validation-for="FECHA_NACIMIENTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TELEFONO" class="control-label"></label>
                <input asp-for="TELEFONO" class="form-control" />
                <span asp-validation-for="TELEFONO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DIRECCION" class="control-label"></label>
                <input asp-for="DIRECCION" class="form-control" />
                <span asp-validation-for="DIRECCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PERSONA_NIT" class="control-label"></label>
                <input asp-for="PERSONA_NIT" class="form-control" />
                <span asp-validation-for="PERSONA_NIT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PERSONA_DIRECCION" class="control-label"></label>
                <input asp-for="PERSONA_DIRECCION" class="form-control" />
                <span asp-validation-for="PERSONA_DIRECCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PERSONA_TELEFONOCASA" class="control-label"></label>
                <input asp-for="PERSONA_TELEFONOCASA" class="form-control" />
                <span asp-validation-for="PERSONA_TELEFONOCASA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PERSONA_TELEFONOMOVIL" class="control-label"></label>
                <input asp-for="PERSONA_TELEFONOMOVIL" class="form-control" />
                <span asp-validation-for="PERSONA_TELEFONOMOVIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FOTOGRAFIA" class="control-label"></label>
                <input asp-for="FOTOGRAFIA" class="form-control" />
                <span asp-validation-for="FOTOGRAFIA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DPI_PDF" class="control-label"></label>
                <input asp-for="DPI_PDF" class="form-control" />
                <span asp-validation-for="DPI_PDF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USUARIO_CORREO" class="control-label"></label>
                <input asp-for="USUARIO_CORREO" class="form-control" />
                <span asp-validation-for="USUARIO_CORREO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROL_ID" class="control-label"></label>
                <input asp-for="ROL_ID" class="form-control" />
                <span asp-validation-for="ROL_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CREADO_POR" class="control-label"></label>
                <input asp-for="CREADO_POR" class="form-control" />
                <span asp-validation-for="CREADO_POR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MODIFICADO_POR" class="control-label"></label>
                <input asp-for="MODIFICADO_POR" class="form-control" />
                <span asp-validation-for="MODIFICADO_POR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHA_MODIFICACION" class="control-label"></label>
                <input asp-for="FECHA_MODIFICACION" class="form-control" />
                <span asp-validation-for="FECHA_MODIFICACION" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ELIMINADO" /> @Html.DisplayNameFor(model => model.ELIMINADO)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ELIMINADO_POR" class="control-label"></label>
                <input asp-for="ELIMINADO_POR" class="form-control" />
                <span asp-validation-for="ELIMINADO_POR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FECHA_ELIMINACION" class="control-label"></label>
                <input asp-for="FECHA_ELIMINACION" class="form-control" />
                <span asp-validation-for="FECHA_ELIMINACION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
